table,
tr,
td,
th {
  border: 1px solid #000047;
  border-collapse: collapse;
  padding: 2px;
  margin: 0px;
}

th:first-child,
td:first-child {
  width: 80px;
}

.string-root {
  /* width: 80px; */
  background: #444444;
  color: #dddddd;
  font-weight: bolder;
}

td {
  width: 100px;
}

.fretboard-header-row {
  background: #444444;
  color: #dddddd;
  font-weight: bolder;
}

.fret,
.fret-header {
  width: 80px;
  border-right: 10px solid #362a0a;
}

.string > .fret ~ .fret,
.fretboard-header-row > .fret-header ~ .fret-header {
  width: 100px;
  border-right: 1px solid #000047;
}

.scale-root,
.scale-second,
.scale-third,
.scale-fourth,
.scale-fifth,
.scale-sixth,
.scale-seventh {
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
}
.scale {
  background: #ff5555;
}

.scale-root {
  background: #582a72;
}

.scale-second {
  background: #963254;
}

.scale-third {
  background: #aa5c39;
}

.scale-fourth {
  background: #a8aa39;
}

.scale-fifth {
  background: #609732;
}

.scale-sixth {
  background: #257158;
}

.scale-seventh {
  background: #294f6d;
}

.non-scale-hide {
  color: transparent;
}

.chord-note {
  background: #008800;
}

.chord-root {
  background: #e969e9;
}

.chord-third {
  background: #e98ab0;
}

.chord-fifth {
  background: #ffa1c6;
}

.chord-seventh {
  background: #005500;
}

.chord-detail {
  width: auto;
  /* border: 1px solid #e969e9; */
}

.chord-detail-header {
  background: #e969e9;
  padding: 5px;
  color: #111111;
  border: 1px solid #111111;
}

.chord-detail-note {
  background: #ffa1c6;
  padding: 5px;
  color: #111111;
  border: 1px solid #111111;
}

#scale-chart-container,
#chord-detail-chart {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  min-height: 30px;
  margin-top: auto;
}

.chord-detail-prefix,
.scale-chart-header {
  background-color: #c9c1ab;
  color: #222222;
  padding: 5px;
  border: 1px solid #111111;
  font-weight: bolder;
}

.scale-chart-item {
  padding: 5px;
  border: 1px solid #111111;
}

#selected-scale-chord-container,
/* #seventh-chord-list-container, */
#scale-chord-list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  min-height: 20px;
}
#scale-chart-container {
  margin-right: 20px;
}
/* #chord-detail-chart {
  margin-left: 20px;
} */

/* .flex-container {
   margin: auto;
} */
.scale-chord {
  /* padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px; */
  background: #222222;
  color: #dddddd;
  font-size: small;
  font-weight: bold;
  border: 1px solid #000047;
}

.scale-chord:hover {
  background: #444444;
  color: #ffffff;
}

.scale-chord-highlight {
  background: #666666;
  color: #eeeeee;
}

.help-icon {
  width: 40px;
  background-color: #bbbbbb;
  color: #ff0000;
  /* font-weight: bolder; */
  border: 1px solid black;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip > .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #999999;
  color: #111111;
  text-align: left;
  padding: 5px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover > .tooltip-text {
  visibility: visible;
}
